  
  /* prev-next-post */
  
  .prev-next-post {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .8rem;
    padding: 60px 0 40px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    /* clear: both; */
  }
  
  /* .prev-next-post:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  .prev-next-post li {
    margin: 0;
    padding: 0;
    list-style-image: none;
    /* display: block;
    float: left;
    width: 50%; */
  }
  
  
  .prev-next-post li:nth-child(2) {
    text-align: right;
  }
  