
:root {
    --primary: #cf3709;
    --font-color: #2B2B2B;
    --link-color: #cf3709;
    --link-color-alt: #691c04;
    --light-grey: #f3f2f2;
    --grey: #BCBCBC;
    --black: #2B2B2B;
    --white: #fff;
  } 
    
  /*
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Ubuntu', sans-serif;
  */
  
  /* Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, */
  